In [2]:
import pandas as pd

In [3]:
file_path = "./test.csv"

In [8]:
data = pd.read_csv(file_path)
data1= pd.read_csv(file_path)
data2= pd.read_csv(file_path)

In [9]:
print(data['주소'].value_counts())


#해당 column 값의 유형과 건수를 확인

#반환 결과는 많은 건수 순서로 정렬되어 값을 반환

 

#DataFrame은 value_counts() 메소드를 갖고 있지 않기 때문에 반드시 column 명을 추출 

#지정된 column의 데이터 값 건수를 반환

#참고로 DataFrame에서 추출한 column의 type은 Series

경기 고양시 탄현동      8838
경기 파주시 교하읍      8359
경기 고양시 풍동       6294
경기 고양시 마두동      6010
경기 고양시 일산3동     5786
                ...
전북 익산시 모현동2가      18
경기 안산시 대부남동       18
대전 유성구 어은동        17
경북 경주시 외동읍        17
경북 경산시 백천동        17
Name: 주소, Length: 3004, dtype: int64

In [58]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500000 entries, 0 to 499999
Data columns (total 21 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   일련번호         500000 non-null  int64
 1   회원번호         500000 non-null  int64
 2   이름           500000 non-null  object
 3   성별           500000 non-null  object
 4   나이           500000 non-null  int64
 5   주소           500000 non-null  object
 6   생일           500000 non-null  object
 7   핸드폰번호        500000 non-null  object
 8   전년도 누적금액     500000 non-null  int64
 9   전년도 누적 구매횟수  500000 non-null  int64
 10  최종구매일자       500000 non-null  object
 11  최종 주문시간      500000 non-null  object
 12  최종 주문 요일     500000 non-null  object
 13  주말여부         500000 non-null  object
 14  제품코드         500000 non-null  int64
 15  대분류          500000 non-null  int64
 16  중분류          500000 non-null  int64
 17  세분류          500000 non-null  int64
 18  제품이름         500000 non-null  object
 19  구매액          500000 non-null  int64
 20  수량           497746 non-null  float64
dtypes: float64(1), int64(10), object(10)
memory usage: 80.1+ MB

In [24]:
data.describe() 

#count: not null인 데이터 건수
#mean: 전체 데이터의 평균값
#std: 표준편차
#min: 최솟값
#max: 최대값
#25%: 25 percentile 값
#50%: 50 percentile 값
#75%: 75 percentile 값

,일련번호,회원번호,나이,전년도 누적금액,전년도 누적 구매횟수,제품코드,대분류,중분류,세분류,구매액,수량
count,500000.000000,5.000000e+05,500000.000000,5.000000e+05,500000.000000,500000.000000,500000.000000,500000.000000,500000.000000,5.000000e+05,497746.000000
mean,250000.500000,1.002500e+08,46.466816,1.996923e+07,523.510186,20507.982328,3.914366,7.249770,4.188562,8.007252e+04,1.053979
std,144337.711634,1.443377e+05,15.742055,4.662537e+07,930.373032,235.164893,4.204755,5.645348,3.387362,6.450683e+04,0.351295
min,1.000000,1.000000e+08,20.000000,3.450000e+04,1.000000,20001.000000,1.000000,1.000000,1.000000,0.000000e+00,1.000000
25%,125000.750000,1.001250e+08,34.000000,3.753000e+05,12.000000,20290.000000,1.000000,2.000000,2.000000,4.430000e+04,1.000000
50%,250000.500000,1.002500e+08,46.000000,7.172000e+05,55.000000,20512.000000,2.000000,6.000000,3.000000,6.340000e+04,1.000000
75%,375000.250000,1.003750e+08,57.000000,1.378855e+07,475.000000,20724.000000,4.000000,11.000000,5.000000,9.950000e+04,1.000000
max,500000.000000,1.005000e+08,99.000000,2.415661e+08,3425.000000,20981.000000,14.000000,27.000000,26.000000,3.979500e+06,10.000000

In [31]:
dict = {'a':[1,2,3,4], 'b':[4,5,6,7],'c':['a','b','c','d']}
df = pd.DataFrame(dict)
print(df)

   a  b  c
0  1  4  a
1  2  5  b
2  3  6  c
3  4  7  d

In [32]:
for i in range(0,3):
    df.loc[i,'a'] = 3
print(df)

   a  b  c
0  3  4  a
1  3  5  b
2  3  6  c
3  4  7  d

In [27]:
data[['주소']]

                 주소
0         대전 동구 용운동
1         대전 동구 용운동
2        경북 안동시 용상동
3       서울 강서구 가양3동
4       서울 강서구 가양3동
...             ...
499995   경기 고양시 가좌동
499996    강원 인제군 북면
499997   경기 시흥시 목감동
499998   서울 마포구 망원동
499999  경기 고양시 일산3동

[500000 rows x 1 columns]

In [63]:
for i in range(0,500000):
    temp=data1.loc[i,'주소']
    temp1=temp.split(' ')[0]
    temp2=temp.split(' ')[1]
    if len(temp1)==3:
        temp1=temp1[:-1]
    temp=temp1+' '+temp2
    data1.loc[i,'주소']=temp

In [64]:
print(data1['주소'].value_counts())

경기 고양시    87271
경기 파주시    24528
서울 은평구    13518
경기 김포시    10671
서울 강서구     9427
          ...
강원 화천군       75
강원 양구군       74
경남 의령군       69
경북 성주군       63
경기 포천군       42
Name: 주소, Length: 236, dtype: int64

In [54]:
for i in range(0,500000):
    temp=data2.loc[i,'주소']
    temp=temp.split(' ')[0]
    if len(temp)==3:
        temp=temp[:-1]
    data2.loc[i,'주소']=temp

In [6]:
print(data2)

NameError: name 'data2' is not defined

In [7]:
print(data1.head())

   일련번호       회원번호   이름 성별  나이           주소       생일          핸드폰번호  \
0     1  100000001  김소유  F  55    대전 동구 용운동  11월 20일  990-3916-9336
1     2  100000002  장상순  F  54    대전 동구 용운동  11월 20일  990-1832-3061
2     3  100000003  문수영  M  32   경북 안동시 용상동  11월 19일  990-6448-9099
3     4  100000004  김태린  F  68  서울 강서구 가양3동   5월 12일  990-4368-0858
4     5  100000005  장유나  F  66  서울 강서구 가양3동   5월 12일  990-6656-3757

    전년도 누적금액  전년도 누적 구매횟수  ... 최종 주문시간 최종 주문 요일 주말여부   제품코드  대분류  중분류  세분류  \
0     381700           62  ...   16:50        화    F  20837    1    8    2
1     516000           59  ...    9:20        월    F  20827    1    1    1
2  136047200          515  ...   22:46        금    F  20262    2   10    1
3   40523200          864  ...    4:08        일    T  20615    1    7    4
4   44909000         2860  ...    0:32        금    F  20615    1    7    4

                 제품이름     구매액   수량
0     여름 밴딩 팬츠 3종 남성용   63400  1.0
1  목이 개운한 3D  입체 베개2종   53300  1.0
2            블랙박스 32G  102500  1.0
3        비데 최고급 리모컨비데  183500  1.0
4        비데 최고급 리모컨비데  193500  1.0

[5 rows x 21 columns]

In [16]:
# 이름은 식별자이므로 원칙적으로 삭제가 원칙이나 필요한 경우 비식별조치(익명처리)후 사용
# 이름 기준 마스킹, 
# ver1 : 성만 놔두고 *처리, 
# ver2 : 중간 글자 마스킹(맨앞, 맨뒤 글자만 남기고 *처리 ) 
# ver1이 적합하다 판단. ver2는 두글자 이름일 시 애매하며 굳이 본인 식별의 필요가 없기에 이름의 맨 마지막 글자를 놔둘 필요 없어보임
#
for i in range(0,500000):
    temp=data2.loc[i,'이름']
    temp=temp[0]+"**"
    data2.loc[i,'이름']=temp

In [15]:
temp=data2.loc[0,'이름']
temp=temp[0]+"**"
temp

'김**'

In [20]:
print(data2['이름'])

0         김**
1         장**
2         문**
3         김**
4         장**
         ...
499995    김**
499996    지**
499997    최**
499998    이**
499999    박**
Name: 이름, Length: 500000, dtype: object